html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative
}
body {
	background:#fff repeat-x;
	background:url(../images/top.jpg) repeat-x;
	height:100% /* force the BODY element to match the height of the HTML element */
}

.main-content {
    color:#000;
	text-decoration: none;
	/*background: #3366FF;*/
	font-family:Verdana, Geneva, sans-serif; 
}


.title {
	font-family:Verdana, Geneva, sans-serif; 
	color:#333;
	padding:6px;"
	
}
#aboutus {
	font-family:Verdana, Geneva, sans-serif; 
	color:#111;
	text-align:left;
	padding:2px;
	font-size:.8em;
}

#clear {
	clear:both;
}
p {
	
}
h2 {
	margin:0px 0px 3px 0px;
}
#titlearea {
	width:100%;
	background:#3e76c9;
	-webkit-box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.59);
-moz-box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.59);
box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.59);
}
.order-button1 a{
		display: inline-block;
		
		color:#fff;
		text-decoration:none;
		padding:8px;
		font:Arial, Helvetica, sans-serif 12px;
		background:#3d74c6;
		clear:both;
        border: 1px solid #fff;
        -moz-box-shadow: 0px 3px 15px #ccc;
        -webkit-box-shadow: 0px 3px 15px #ccc;
        box-shadow: 0px 3px 15px #ccc;
		+-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
        vertical-align:top;
		margin-top:0px;
		margin-bottom:0px;
		text-align:center;
		
		
}
.order-button1 a:hover{
		display: inline-block;
	
		color:#fff;
		padding:8px;
		font:Arial, Helvetica, sans-serif 12px;
		background:#18407a;
		clear:both;
        border: 1px solid #aaaaaa;
        -moz-box-shadow: 0px 3px 15px #444;
        -webkit-box-shadow: 0px 3px 15px #444;
        box-shadow: 0px 3px 15px #444;
		+-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		border-radius: 12px;
        vertical-align:top;
		
}